<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afe297">  <td>20/10/21 01:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutoPlusHomeBundleTest.addVehicleTest()[pri:3, instance:testcases.AutoPlusHomeBundleTest@47ffe971]">addVehicleTest</td> 
  <td>main@1761217448</td>   <td></td> </tr>
<tr bgcolor="afe297">  <td>20/10/21 01:40:37</td>   <td>-5421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutoPlusHomeBundleTest.autoplusHomeBundleTest()[pri:1, instance:testcases.AutoPlusHomeBundleTest@47ffe971]">autoplusHomeBundleTest</td> 
  <td>main@1761217448</td>   <td></td> </tr>
<tr bgcolor="afe297">  <td>20/10/21 01:40:37</td>   <td>-4985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutoPlusHomeBundleTest.customerInformation()[pri:2, instance:testcases.AutoPlusHomeBundleTest@47ffe971]">customerInformation</td> 
  <td>main@1761217448</td>   <td></td> </tr>
</table>
